:root{
    --bs-secondary-rgb: 60,65,68;
    --bs-link-color: rgba(255, 255, 255, 70%);
    --bs-link-hover-color:  rgba(255, 255, 255);
}
::-webkit-scrollbar {
    width: 18px;
  }

  ::-webkit-scrollbar-track {
    background: var(--bs-gray-900);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--bs-gray-700);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--bs-gray-600);
  }
  
  .element-class {
    scrollbar-gutter: stable both-edges;
 }

body{
    min-width: 350px;
}

.navbar{
    --bs-navbar-color: rgb(255 255 255 / 80%);
    --bs-navbar-hover-color: rgba(255, 255, 255);
}

nav li img{
    height: 25px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.card-bg{
    background-color: transparent;
}

.card:hover{
    transition: 0.4s;
    background: var(--bs-gray-800) !important;
    -ms-zoom-animation: 1%;
}

.dropdown-menu-dark {
    --bs-dropdown-link-active-bg: rgba(255, 255, 255, 0.377);
}

@media only screen and (min-width: 992px) 
{
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .4s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}

.rgb-bg{ 
    background: linear-gradient(220deg, #a500b4, #a80bb6, #1a119e, #08c5cf);
    background-size: 1200% 1200%;
  
  -webkit-animation: RGB 50s ease infinite;
  -z-animation: RGB 50s ease infinite;
  -o-animation: RGB 50s ease infinite;
    animation: RGB 50s ease infinite;}
  
  @-webkit-keyframes RGB {
      0%{background-position:0% 80%}
      50%{background-position:100% 20%}
      100%{background-position:0% 80%}
  }
  @-moz-keyframes RGB {
      0%{background-position:0% 80%}
      50%{background-position:100% 20%}
      100%{background-position:0% 80%}
  }
  @-o-keyframes RGB {
      0%{background-position:0% 80%}
      50%{background-position:100% 20%}
      100%{background-position:0% 80%}
  }
  @keyframes RGB { 
      0%{background-position:0% 80%}
      50%{background-position:100% 20%}
      100%{background-position:0% 80%}
}

.content-box{
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 120px;
    padding-top: 120px;
}

.fb-btn{
    border: transparent 1px solid;
    background: rgb(66, 103, 178);
}

.fb-btn:hover{
    color: white !important;
    background: transparent !important;
}

.g-logo{
    width: 21px;
    height: 21px;
    padding-bottom: 2px;
}

.g-btn{
    background-color: white !important;
    color: black !important;
}

.g-btn:hover{
    background-color: transparent !important;
    color: white !important;
}

.forgot-pw{
    color: rgba(255, 255, 255, 70%);
    font-size: 15px;
    text-decoration: none;
}

.forgot-pw:hover{
    color: rgba(255, 255, 255) !important;
}

.form-check-input {
    border: 1px white solid !important;
    width: 20px;
    height: 20px;
    border-radius: 7px !important
}

.btn-close{
    position: absolute;
    top: -300px;
    right: 10px;
}

input{
    color: white !important;
    background-color: transparent !important;
}

.form-select{
    cursor: pointer;
    color: #ffffff;
    background-color: transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23FFFFFF' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z' clip-rule='evenodd'/></svg>");
}

option {
    background-color: var(--bs-dark) !important;
    border: 1px white solid;
    border-radius: 20%;
}

option:hover {
    background-color: rgb(207, 207, 207);
    border: 1px white solid;
    border-radius: 20%;
}

.bi-person-circle{
    fill: rgb(255 255 255 / 80%);
}

.bi-person-circle:hover{
    fill: rgb(255 255 255);
}

.signupbg{  
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 550px;
    min-height: 100vh;
    margin: auto;
    background-color: var(--bs-dark);
}

.nav-tabs {
    --bs-nav-tabs-border-color: #ffff;
    --bs-nav-tabs-border-radius: 0.375rem;
    --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
    --bs-nav-tabs-link-active-color: #ffffff;
    --bs-nav-tabs-link-active-bg: transparent;
    --bs-nav-tabs-link-active-border-color: none; 
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}

.active{
    
    border-bottom: var(--bs-dark) 1px solid !important;
}


table tr th, table tr td{
    color: white;
}

thead{
    border-bottom: 2px white solid;
}

.mytable{
    border: none;
}

.GPU-logo{
    display: block;
    width: 230px !important;
    margin-left: auto !important;
    margin-right: auto !important; 
}

@media only screen and (max-width: 576px) {
    .content-box{
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
        padding-top: 50px;

    }
    .modal-content{
        padding-top: 50px !important;
    }

    .modalp2{
        display: none;
    }

    .modal-title{
        display: block !important;
    }
    
    .rgb-bg {
        padding-top: 40px !important;
    }

    .rgb-bg h1{
        padding-bottom: 20px !important;
    }
    
    p{
        font-size: 12px !important;
        padding-bottom: 0px !important;
    }

    .Personcircle{
        display: none;
    }

    .My-account{
        display: block !important;
    }


}